header img {
  width: 20%;
}
header {
  display: flex;
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: bisque;
}
header h1 {
  padding: 2rem;
  font-size: 5rem;
  display:flex;
  align-items: center;
  text-shadow: 3px 3px rgb(3, 68, 48);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(63, 23, 23);
}
main {
  background-color: rgb(150, 112, 91);
  min-width:850px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 250px 1fr  1fr  1fr;
  grid-template-rows: 300px 1fr 200px 1fr;
  margin: 2rem auto;
}
#resultsList {
  background-color: rgb(171, 132, 118);
  border: 2px solid black;
  grid-template-columns: 1 /2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 15rem;
}
#displayImages {
  grid-column: 2 / 5;
  grid-row: 2; 
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
  padding: .5rem;
}
main p {
  grid-row: 3;
  grid-column: 2 / 5;
  padding: 2rem;
}
#displayImages img {
  border: 8px solid transparent;
  flex: 1 1 20%;
  width: 100px;
  height: 300px;
}
/* #getResultsBtn {
  font-weight: bold;
  padding: 1rem;
  border: 1px solid black;
  grid-column-start: 3;
  grid-template-rows: 4 / 5;
  align-content: center;
  height: 15px;
  width: 80px;
  background-color: lightgrey;
} */
#imageOne:hover {
  border: 8px solid rgb(3, 68, 48);
  cursor: grab;
}
#imageTwo:hover {
  border: 8px solid rgb(3, 68, 48);
  cursor: grab;
}
#imageThree:hover {
  border: 8px solid rgb(3, 68, 48);
  cursor: grab;
}
* {
  box-sizing: border-box;
}
#chartHolder {
  background-color: rgb(234, 224, 213);
  grid-column-start: 1;
  grid-column-end: 5;
}
#customerThanks {
  font-family: 'Satisfy', cursive;
  font-size: 23px;
}
