#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}
h1 {
  font-size: 3rem;
  padding: 1rem;
}
#projectOddDuck {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 20rem 1fr 1fr;
  align-content: center;
  justify-content: center;
}
#resultsList {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px solid black;
  padding: 5px;
}

#imageOne {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px solid black;
  justify-self: center;
}
#imageTwo {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px solid black;
  justify-self: center;
}
#imageThree {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px solid black;
  justify-self: center;
}
